@{
    
}

<!DOCTYPE html>
 
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Adivinen que esta es mi otra pagina!</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
       <h1>Adivinen aqui me logueo</h1>
       <form action="Autentificacion.cshtml" method="post">
        <fieldset>
            <legend>Datos de usuario</legend>
        <br>
        Aqui va el nombre <input type="text" id="nombre">
        <br>
        <br>
        Aqui va el password <input type="text" id="password">
        <br>
        <br>
        <input type="submit" name="sent" value="Iniciar Sesion" />
        </fieldset>
       </form>
    </body>
</html>
