@{
    
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Ole se conecto correctamente</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <h1>Se le informa que usted se ha conectado correctamente</h1>
        <br>
        <br>
        CONGRATULATIONS como se logueado corectamente lo invito a que se tome un rato para ver <a href="http://animeid.com/anime/sword-art-online.html">sword art online</a>
        <br>
        <br>
        O que regrese al <a href="~/Default">inicio de todo</a>
    </body>
</html>
